<section id="profile">
  <div class="image">
    <a href="/"><img class="circle" src="https://cdn.discordapp.com/avatars/84794819573981184/1d043813c59757aed30e76e9de440e84.png?size=2048"></a>
  </div>
  <div class="info">
    <h1>llyyr</h1>
    <p>c // go // python dev</p>
    <p>waste of oxygen. sorry for breathing.</p>
  </div>
  <div class="contact">
    <a href="https://github.com/llyyr">github</a>
    //
    <a href="discord://open/users/84794819573981184">discord</a>
    //
    <a href="https://twitter.com/llyyr">twitter</a>
    //
    <a href="mailto:{{ site.email | encode_email }}">email</a>
  </div>
</section>
